* {
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}
body {
    font-family: Roboto;
}
/*header*/
a {
    text-decoration: none;
    color: #333333;
}
.header {
    background-color: #cfe5ef;
    padding-top: 44px;
    padding-bottom: 44px;
    margin-bottom: 60px;
}
.container {
    max-width: 1255px;
    margin-right: auto;
    margin-left: auto;
}
.header .logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 46px;
}
.menu-item {
    display: inline-block;
}
.menu-item  li{
    display: inline;
    padding: 0 10px 0 10px;
    margin-right: 20px;
}
.menu-item li a:hover {
    color: #b61d1d;
}
.menu-item li:last-child {
    margin-right: 0;
    padding-right: 0;
}
.menu-item .link-1 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.drop {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    display: none;
    width: 188px;
    top: 21px;
    right: 0;
    left: 0;
    box-shadow: 1px 1px 0;
    border-radius: 0 6px 6px 6px;
    background-color: #ffffff;
}
.drop:hover .dropdown-menu {
    display: block;
}
.drop:hover {
    background-color: #ffffff;
}
.dropdown-menu li {
    text-align: center;
    display: block;
    margin: 10px;
}
.dropdown-menu li:last-child {
    margin-right: 10px;
    padding-left: 0;
}
.dropdown-menu li a {
    text-decoration: none;
}
.dropdown-menu li a:hover {
    color: #556ce1;
}
.drop-2 {
    position: relative;
    padding: 0 10px;
}
.drop-2 a .link-1 {
    padding-right: 10px;
}
.dropdowm-menu-2 {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    width: 188px;
    background-color: #ffffff;
    box-shadow: 1px 1px 0;
    border-radius: 0 6px 6px 6px;
}
.drop-2:hover .dropdowm-menu-2 {
    display: block;
}
.dropdowm-menu-2 li {
    display: block;
    margin: 15px 10px;
}

.drop-2:hover {
    background-color: #ffffff;
}
.dropdowm-menu-2 li a {
    padding: 0;
}
.header-bt {
    width: 125px;
    height: 60px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 46px;
    right: 140px;
    border: none;
    background-color: #ffffff;
}
/*сетка флоатов*/

.module-grid h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 45px;
}
.module-grid-gutters::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}
.module-grid-gutters {
    margin-bottom: 65px;
}
.module-grid-gutters h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 45px;
}

/* Отзывы посетителей */
.reviews-content {
    min-height: 250px;
}
.reviews-content:nth-child(2n) {
    margin-top: 28px;
}
.reviews-content:last-child {
    margin-bottom: 60px;
}
hr {
    width: 1255px;
    height: 1px;
    color: #c6c6c6;
}
.reviews h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 45px;
}
.reviews h3::after {
    content: "";
    display: block;
    width: 200px;
    height: 5px;
    margin-top: 15px;
    background-color: #c3c3c3;
}
.avatar {
    display: inline-block;
    float: left;
    margin-right: 25px;
}
.avatar::after {
    content: "";
    clear: both;
    display: block;
    height: 0;
}
.resize-img {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    background-image: url("../img/gallery-images/avatar-img-1.jpg"); background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.text-item h4 {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 20px 60px 37px 0;
}
.text-item .data {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #bfbfbf;
}
.text-item .data::before {
    display: block;
    position: absolute;
    content: "";
    left: -25px;
    top: 0;
    width: 18px;
    height: 18px;
    background-image: url("../img/calendar.svg.png");
    background-position: center;
}
.text-item p {
    font-size: 14px;
    color: #949494;
    line-height: 1.5;
}

/* Последние новости */

.last-news {
    min-height: 500px;
    margin-bottom: 60px;
}
.last-news::after {
    content: '';
    clear: both;
    display: block;
    height: 0;
}
.last-news h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
}
.last-news h3::after {
    content: "";
    display: block;
    width: 200px;
    height: 5px;
    margin-top: 10px;
    background-color: #c3c3c3;
}
.text-sector {
    margin-bottom: 10px;
}
.text-sector h4 {
    font-size: 16px;
    font-weight: bold;
    color: #797979;
    margin-bottom: 30px;
}
.text-sector p {
    width: 465px;
    font-size: 14px;
    line-height: 1.5;
    color: #797979;
    margin-bottom: 10px;
}
.details {
    display: block;
    width: 465px;
    font-size: 14px;
    color: #0000ff;
    text-decoration: none;
    text-align: right;
}
.image-item {
    float: right;
    width: 725px;
}
.image-item::after {
    content: "";
    clear: both;
    display: block;
}
img {
    width: 100%;
}

/* Галерея */
.gallery .image-block {
    text-align: center;
}
.gallery h4 {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
.gallery h4::after {
    content: "";
    display: inline;
    position: absolute;
    top: 40px;
    left: 42%;
    width: 200px;
    height: 5px;
    background-color: #c3c3c3;
}
.gallery .img-box {
    display: inline-block;
    vertical-align: top;
    width: 275px;
    height: 285px;
    margin: 0 15px 50px 0;
}
.outside-border {
    padding: 10px;
    border: 1px solid;
    border-color: #e2e2e2;
}
.img-box p {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    margin: 10px 0 10px 0;
}

/* Наверх */

#go-top {
    position: fixed;
    bottom: 25px;
    right: 30px;
    cursor:pointer;
    display:none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #cfe5ef;
    background-image: url("../img/top-up.png");
}

/* Формы */

form {
    display: inline-block;
    width: 300px;
    margin-bottom: 40px;
}
.mb {
    font-size: 13px;
    font-weight: bold;
    margin: 21px 0 8px 0;
}

/* form-1 */

input, select {
    border: 1px solid;
    border-color: #999999;
    width: 295px;
    padding: 17px 0 13px 16px;
    outline: none;
}
input::placeholder {
    color: #a5aeb5;
}
.icon-type-1  {
    padding-left: 45px;
    background-image: url("../img/icons-for-forms/zamok.png");
    background-repeat: no-repeat;
    background-position: 15px;
    background-size: 15px;
}
select {
    font-weight: bold;
}

/* form-2 */

.focus:focus {
    background-color: #e9f8ff;
}

/* form-3 */

.text-color {
    color: #999999;
}
.focus-state:focus {
    background-color: #e9f8ff;
}
.focus-icons:focus {
    background-image: url("../img/icons-for-forms/zamok-focus.png");
    background-repeat: no-repeat;
}
.phone-call {
    background-image: url("../img/icons-for-forms/phone-call.png");
    background-repeat: no-repeat;
    background-position: 15px;
    background-size: 22px;
    padding-left: 45px;
}
/* form-4 */
.text-color-2:focus {
    font-weight: bold;
}
.phone-call-focus:focus {
    color: #333333;
    background-image: url("../img/icons-for-forms/phone-call-focus.png");
    background-repeat: no-repeat;
    background-position: 15px;
    background-size: 22px;
    padding-left: 45px;
}
/* form-5 checkbox, textarea */
.checkbox-item {
    width: 615px;
}
.checkbox-style {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 12px;
}
input[type='checkbox'] {
    display: none;
}
input[type='checkbox'] + label span {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    border-radius: 5px;
    background-image: url("../img/icons-for-forms/icon-check.png");
    margin-right: 8px;
    cursor:pointer;
}
input[type='checkbox']:checked + label span {
    background-image: url("../img/icons-for-forms/icon-checked.png");
}
.margin-right {
    margin-right: 30px;
}
.margin-right:last-child {
    margin-right: 0;
}
.mtop {
    margin-top: 20px;
}
/* Textarea */
textarea {
    font-family: Roboto;
    width: 600px;
    height: 170px;
    border-color: #999999;
    outline: none;
}
textarea::placeholder {
    color: #97a1aa;
}
.area-1 {
    padding: 17px 0 0 16px;
}
.chat-comment {
    background-image: url("../img/icons-for-forms/chat-comment.png");
    background-repeat: no-repeat;
    background-position: 11px 10px;
    background-size: 22px;
    padding: 15px 0 0 45px;
}

/* form radio */

input[type='radio'] {
    display: none;
}
input[type='radio'] + label span {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    border-radius: 5px;
    background-image: url("../img/icons-for-forms/ellipse-1.png");
    margin-right: 8px;
    cursor:pointer;
}
input[type='radio']:checked + label span {
    background-image: url("../img/icons-for-forms/ellipse-checked.png");
}
.focus-font:focus::placeholder {
    font-weight: bold;
    color: #000000;
}
.chat-comment-1:focus {
    background-image: url("../img/icons-for-forms/chat-comment-focus.png");
    background-repeat: no-repeat;
    background-position: 11px 10px;
    background-size: 22px;
    padding: 15px 0 0 45px;
}

/* buttons */
.main-buttons {
    font-family: Roboto;
    width: 600px;
}
.main-style {
    display: inline-block;
    width: 104px;
    height: 44px;
    background-color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;
    border: 1px solid;
    border-color: #999999;
    text-align: center;
    padding: 0;
    margin: 0 auto;
}
.mr {
    margin-right: 20px;
}

/* upload-file */
.upload-file {
    display: inline-block;
    width: 170px;

}
.hidden-input {
    width: 60px;
    height: 0;
    padding: 0;
    opacity: 0;
}
.download-file {
    text-transform: uppercase;
    background-image: url("../img/icons-for-forms/upload-copy.png");
    background-repeat: no-repeat;
    background-position: 18px;
    background-size: 17px;
    border: 1px solid #999999;
    padding: 10px 15px 11px 45px;
}